/*header: logo and links */
#header {
    position: fixed;
    top:0;
    background: #ffffff;
    width: 100%;
    height: 110px;
    border:2px #cccccc;
    z-index: 1;
    display: block;
    overflow: inherit;
}
/*patterned background for entire site*/

#bgimg {
    width: 100%;
    background-size: cover;
    z-index: -1;
    clear: both;
    position: relative;
    height: 800px;
}
#bg {
    z-index: -1;
    width: 100%;
    overflow: hidden;
}
/*top left logo*/
#logo {
    background: #5aa8a4;
    width: 150px;
    position: fixed;
    height: 98px;
    top: 10px;
    left: 15%;
    color: #ffffff;
    text-align: center; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 35px;
    border-radius: 10px;
}
#name {
    position: absolute;
    top:  10%;
    left: 3.5%;
}
/* button links on right side of page*/
#headerbuttons {
    width: 200px;
    position: absolute;
    top: 5%;
    left: 75%;
    display: inline;

}
#contactbtn {
    position: absolute;
    top:30px;
    left:40%;
}
#portfoliobtn {
    position: absolute;
    top:30px;
    left:80%;
}
#aboutbtn {
    position: absolute;
    top: 30px;
    left: 0%;
}
#contactbtn,
#portfoliobtn,
#aboutbtn {
    background:  #ffffff;
    color: #dddddd;
    width: 33.3%;

}
#line2 {
    width: 2px;
    height: 24px;
    background: #dddddd;
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    top:30px;
    left:72%;
}
#line1 {
    width: 2px;
    height: 24px;
    background: #dddddd;
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 30%;
}


/*******************************
******************************************
/*body of page*/

#allcontent {
    width: 960px;
    position: absolute;
    top: 20%;
    left:20%;
    background: #ffffff;
    display: block;
    clear: both;
    border: 1px solid #dddddd;


}

#contenthead {
    width: 90%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    position: relative;
    left: 4%;

}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;

}
img {
    width: 150px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

#line {
    width:80%;
    background: #dddddd;
    height: 3px;
    position: relative;
    top:14%;
    left: 9%;
}
/*footer area*/
footer {
    width: 100%;
    height: 50px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    clear: both;
    position: relative;
    bottom: 0px;
    text-align: center;

}