body,
html {
    width: 110%;
    height: 110%;
    margin:0;
}
header {
    position: fixed;
    top:0;
    background: #ffffff;
    width: 100%;
    height: 110px;
    border-bottom:2px #dddddd;
    left: 0px;
    position: fixed;
    z-index: 2;
}
#header {
    width: 960px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 2px #dddddd;
    position: relative;
}


#bg {
    width: 110%;
    min-height: calc( 100vh - 70px);
    height: 110%;
    background-image: url('file://C:users/mxjec/bootcamp/bio-html/assets/images/mosaic.png');
    background-size: 25%;
    background-repeat: repeat;
    padding-bottom: 300px;
    float: left;



}
#logo {
    background: #5aa8a4;
    width: 150px;
    position: fixed;
    height: 100px;
    top: 10px;
    color: #ffffff;
    text-align: center; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 35px;
    border-radius: 10px;
}
#name {
    position: absolute;
    top:  10%;
    left: 3.5%;

}
/* button links on right side of page*/
#headerbuttons {
    width: 200px;
    position: absolute;
    top: 5%;
    left: 75%;
    display: inline;
}
#contactbtn {
    position: absolute;
    top:30px;
    left:80%;
    border:0;
}
#portfoliobtn {
    position: absolute;
    top:30px;
    left:38%;
    border: 0;
}
#aboutbtn {
    position: absolute;
    top: 30px;
    left: 0%;
    border: 0;
}
#contactbtn,
#portfoliobtn,
#aboutbtn {
    background:  #ffffff;
    color: #dddddd;
    width: 33.3%;
}
#line2 {
    width: 2px;
    height: 20px;
    background: #dddddd;
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 75%;
}
#line1 {
    width: 2px;
    height: 20px;
    background: #dddddd;
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 34%;
}
#headerline {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 110px;
    z-index: 2;
    background: #dddddd;
    left: 0px;

}

/*contact page*/

#yourname {
    width: 88%;
    height: 20px;
    opacity: 0.5;
    position: relative;
    left: 4%;
    top:18%;
    border-radius: 10px;
}
#youremail {
    width: 88%;
    height: 20px;
    opacity: 0.5;
    position: relative;
    left: 4%;
    top:38%;
    border-radius: 10px;
    text-align: left;
}
#yourmsg {
    width: 88%;
    height: 400px;
    opacity: 0.5;
    position: relative;
    left: 4%;
    top:58%;
    border-radius: 10px;
    font-size: auto;
}
#submit {
    background: #4aaaa5;
    color: #ffffff;
    width: 70px;
    height: 40px;
    position: relative;
    left:5%;
    border: 0;
    border-radius: 10px;
}
/*portfolio page*/
#project1 {
    width: 300px;
    height: 300px;
    background-image: url('file://C:users/mxjec/bootcamp/bio-html/assets/images/panic_kid.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    left:40px;

}
#project2 {
    width: 300px;
    height: 300px;
    background-image: url('file://C:users/mxjec/bootcamp/bio-html/assets/images/catfile.png');
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    left:40px;
}
#project3 {
    width: 300px;
    height: 300px;
    background-image: url('file://C:users/mxjec/bootcamp/bio-html/assets/images/toybox.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    left:40px;
}
#imgtxt1,
#imgtxt2,
#imgtxt3 {
    width: 300px;
    height: 50px;
    background: #4aaaa5;
    border-radius: 10px;
    float: left;
    position: relative;
    top: 70%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    color: #ffffff
}

#allcontent {
    width: 960px;
    background: #ffffff;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 50px;
    border: 2px solid #dddddd;
}
#contenthead {
    width: 90%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin-right: auto;
    margin-left: auto;

}
#line {
    width:95%;
    background: #dddddd;
    height: 3px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;

}
#thegirl {
    width: 150px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

/*footer area*/
footer {
    width: 110%;
    height: 50px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-top: -58px;
    float: left;
    text-align: center;
}

